<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glut.dangjian.mapper.background.other.AdministrativeJobMapper">

    <!-- 加载所有的行政职务 -->
    <select id="loadAdministrativeJobAll" resultType="xzzwb">
        select xzzw_id, xzzw_mc
        from xzzwb
    </select>
    
    
    
</mapper>