<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.glut.dangjian.mapper.notice.view.ViewNoticeCommonMapper">
	<resultMap id="BaseResultMap" type="viewNoticeCommon">
		<result column="tzdx_id" property="tzdxId" />
		<result column="tzdx_sfyd" property="tzdxSfyd" />
		<result column="tzdx_ydsj" property="tzdxYdsj" />
		<result column="tzdx_bmdm" property="tzdxBmdm" />
		<result column="tzdx_zbdm" property="tzdxZbdm" />
		<result column="tz_id" property="tzId" />
		<result column="tz_bt" property="tzBt" />
		<result column="tz_nr" property="tzNr" />
		<result column="tz_fbsj" property="tzFbsj" />
		<result column="tz_fbrmc" property="tzFbrmc" />
		<result column="tz_jssj" property="tzJssj" />
		<result column="tz_fwdm" property="tzFwdm" />
		<result column="tz_yxj" property="tzYxj" />
		<result column="tz_spId" property="tzSpid" />
		<result column="fbrId" property="fbrid" />
		<result column="fbrMc" property="fbrmc" />
		<result column="fbrYhxxId" property="fbryhxxid" />
		<result column="fbrXm" property="fbrxm" />
	</resultMap>
	
	<!--  -->
	<select id="getNoticeInfoByNoticeId" parameterType="string" resultType="viewNotice">
        select tzdx_id, tz_id, tz_bt, tz_nr, tz_fbsj, fbrId, fbrXm
        from view_notice_common
        where tz_id =#{noticeId}
   </select>
	<!-- 查询公告  -->
  <select id="getNoticePageList" resultMap="BaseResultMap">
        select tzdx_id, tz_id, tz_bt, tz_nr, tz_fbsj, fbrId, fbrXm
        from view_notice_common
        where tz_jssj &gt; now() 
     <if test="viewYhxx != null">
        union
        select tzdx_id, tz_id, tz_bt, tz_nr, tz_fbsj, fbrId, fbrXm
        from view_notice
        where tz_bt = #{tzBt} and btzdxId = #{viewYhxx.userId} and tzdx_sfyd = 0
     </if>
  </select>
	
	<insert id="insert" parameterType="viewNoticeCommon">
		insert into view_notice_common
		(tzdx_id, tzdx_sfyd, tzdx_ydsj,
		tzdx_bmdm, tzdx_zbdm, tz_id,
		tz_bt,
		tz_nr, tz_fbsj,
		tz_fbrmc, tz_jssj, tz_fwdm,
		tz_yxj, tz_spId, fbrId,
		fbrMc, fbrYhxxId, fbrXm
		)
		values (#{tzdxId}, #{tzdxSfyd}, #{tzdxYdsj},
		#{tzdxBmdm}, #{tzdxZbdm}, #{tzId},
		#{tzBt}, #{tzNr}, #{tzFbsj},
		#{tzFbrmc}, #{tzJssj}, #{tzFwdm},
		#{tzYxj}, #{tzSpid}, #{fbrid},
		#{fbrmc}, #{fbryhxxid}, #{fbrxm}
		)
	</insert>
	<insert id="insertSelective" parameterType="viewNoticeCommon">
		insert into view_notice_common
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="tzdxId != null">
				tzdx_id,
			</if>
			<if test="tzdxSfyd != null">
				tzdx_sfyd,
			</if>
			<if test="tzdxYdsj != null">
				tzdx_ydsj,
			</if>
			<if test="tzdxBmdm != null">
				tzdx_bmdm,
			</if>
			<if test="tzdxZbdm != null">
				tzdx_zbdm,
			</if>
			<if test="tzId != null">
				tz_id,
			</if>
			<if test="tzBt != null">
				tz_bt,
			</if>
			<if test="tzNr != null">
				tz_nr,
			</if>
			<if test="tzFbsj != null">
				tz_fbsj,
			</if>
			<if test="tzFbrmc != null">
				tz_fbrmc,
			</if>
			<if test="tzJssj != null">
				tz_jssj,
			</if>
			<if test="tzFwdm != null">
				tz_fwdm,
			</if>
			<if test="tzYxj != null">
				tz_yxj,
			</if>
			<if test="tzSpid != null">
				tz_spId,
			</if>
			<if test="fbrid != null">
				fbrId,
			</if>
			<if test="fbrmc != null">
				fbrMc,
			</if>
			<if test="fbryhxxid != null">
				fbrYhxxId,
			</if>
			<if test="fbrxm != null">
				fbrXm,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="tzdxId != null">
				#{tzdxId},
			</if>
			<if test="tzdxSfyd != null">
				#{tzdxSfyd},
			</if>
			<if test="tzdxYdsj != null">
				#{tzdxYdsj},
			</if>
			<if test="tzdxBmdm != null">
				#{tzdxBmdm},
			</if>
			<if test="tzdxZbdm != null">
				#{tzdxZbdm},
			</if>
			<if test="tzId != null">
				#{tzId},
			</if>
			<if test="tzBt != null">
				#{tzBt},
			</if>
			<if test="tzNr != null">
				#{tzNr},
			</if>
			<if test="tzFbsj != null">
				#{tzFbsj},
			</if>
			<if test="tzFbrmc != null">
				#{tzFbrmc},
			</if>
			<if test="tzJssj != null">
				#{tzJssj},
			</if>
			<if test="tzFwdm != null">
				#{tzFwdm},
			</if>
			<if test="tzYxj != null">
				#{tzYxj},
			</if>
			<if test="tzSpid != null">
				#{tzSpid},
			</if>
			<if test="fbrid != null">
				#{fbrid},
			</if>
			<if test="fbrmc != null">
				#{fbrmc},
			</if>
			<if test="fbryhxxid != null">
				#{fbryhxxid},
			</if>
			<if test="fbrxm != null">
				#{fbrxm},
			</if>
		</trim>
	</insert>
</mapper>